<template>
    <v-app>
        <v-main class="main-container">
            <v-navigation-drawer
                class="drawer"
                v-model="drawer"
                :clipped="clipped"
                fixed
                app
            >
                <thumbnail-card />
                <item-menu label="Agencia JW Travels"></item-menu>
                <v-list>
                    <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                        :to="item.to"
                        router
                        exact
                        class="item-list"
                    >
                        <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                        <v-list-item-title v-text="item.title" />
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
            <v-app-bar
                :clipped-left="clipped"
                fixed
                app
            >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            </v-app-bar>
            <div class="container-default">
                <nuxt />
            </div>
            <v-footer
                :absolute="!fixed"
                app
                class="footer-content"
            >
                <span>&copy; {{ new Date().getFullYear() }}</span>
            </v-footer>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import cssExports from '@/assets/css/palette.scss';
import ThumbnailCard from '@/components/commons/ThumbnailCard.vue';
import ItemMenu from '@/components/commons/ItemMenu.vue';


@Component( {
    components: {
        ThumbnailCard,
        ItemMenu
    }
} )
export default class Default extends Vue {
    clipped: boolean =  false;
    drawer: boolean = false;
    fixed: boolean = false;
    items: any = [ {
        icon: 'mdi-apps',
        title: 'Ventas',
        to: '/sales'
    },{
        icon: 'mdi-chart-bubble',
        title: 'Reportes',
        to: '/inspire'
    },{
        icon: 'mdi-chart-bubble',
        title: 'Reportes',
        to: '/'
    } ];
    miniVariant: boolean = false;
    right: boolean =  true;
    rightDrawer: boolean = false;
    palette = cssExports;
}
</script>

<style lang="scss" scoped>
$footerHeight: 50px;
$fontStyle: 'Open Sans';
$headerHeight: 80px;

.drawer {
    border-right: solid 2px $secondary;
    @include desktop {
        margin: 0 10px;
    }
}

.item-list {
    background: #fff;
    color: $iconColor !important;
    padding:5px;
    font-weight: 500;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 15px rgba(0, 0, 0, 0.4);
    @include desktop {
        margin: 0px 10px;
    }

}
// .v-list-item--link:before {
//     background: #fff;
// }
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    background: $primary;
    color: #fff !important;
}
.theme--light.v-icon {
  color: #fff;
}
.main-container {
    overflow-x: hidden;
    padding: 0 !important;
    .content {
        margin: 0;
        padding-top: $headerHeight;
    }
}

.container-default {
    margin-top: $headerHeight !important;
    width: 100%;
    display: flex;
}

.footer-content {
    height: $footerHeight;
    display: flex;
    justify-content: center;
    color: #fff !important;
    background: $primary !important;
    text-align: center;
    @include mobile {
        max-width: 599.99px;
    }

    @include tablet {
        max-width: 959.98px;
    }
}
</style>
