<template>
    <div class="container-index">
        HOLA MUNDO!
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'


@Component( {
    components: {
        Logo,
        VuetifyLogo
    }
} )

export default class Index extends Vue {
}
</script>

<style lang="scss" scoped>
.container-index {
    display: flex;
    background-color: red !important;
    width: 100px;
    height: 100px;
}
</style>
