<template>
    <loader v-if="!loading" />
    <div class="container-index" v-else>
        <div class="header">
            <div class="label-text">
                <title-main label="Panel de control agente de ventas!" />
            </div>
            <v-text-field
                v-model="search"
                class="search"
                :label="TitleInput"
                :loading="loadingSearch"
                solo
                flat
            >
                <template #append>
                    <v-icon
                        class="icon-search"
                        @click="$emit('click')"
                    >
                        mdi-magnify
                    </v-icon>
                </template>
            </v-text-field>
        </div>
        <div class="content">
            <div class="title-item">
                <title-main :label="TitleContent" />
                <general-button label="Crear venta" :backgroundColor="palette.primary" @click="createSale" />
                <create-sale-modal
                    :showModal="showCreateSale"
                    @createSale="createNewSale"
                    @close="close"
                />
            </div>
            <v-data-table
                :headers="sales"
                :items="salesList"
                class="elevation-1"
            >
                <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2 icon-crud"
                        @click="viewSale( item )"
                    >
                        mdi-eye
                    </v-icon>
                    <v-icon
                        small
                        class="mr-2 icon-crud"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        class="icon-crud"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
            <view-sale-modal
                :show-modal="showViewSale"
                :sale="sale"
                @close="closeViewSale"
            />
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import GeneralButton from '@/components/commons/GeneralButton.vue';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import CreateSaleModal from '@/components/sales/CreateSaleModal.vue';
import ViewSaleModal from '@/components/sales/ViewSaleModal.vue';
import Loader from '@/components/commons/Loader.vue';
import CssExports from '@/assets/css/palette.scss';


@Component( {
    components: {
        TitleMain,
        GeneralButton,
        GeneralModal,
        CreateSaleModal,
        Loader,
        ViewSaleModal
    }
} )

export default class Sales extends Vue {
    palette = CssExports;
    search: string = '';
    loading: Boolean = false;
    loadingSearch: Boolean = false;
    TitleInput: string = 'Buscar';
    TitleContent: string = 'Mis ventas';
    showCreateSale: boolean = false;
    showViewSale: boolean = false;
    sale: any = {};

    sales: any[] = [
        { text: 'No. venta', value: 'cod_venta' },
        { text: 'Concepto', value: 'concepto' },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Fecha de pago', value: 'fecha' },
        { text: 'Acciones', value: 'actions', sortable: false }
    ];
    salesList: any[] = [];
    list: any[] = [];
    editedIndexSale: number = -1;
    editedItemTitulo: any = {
        cod_venta: '',
        concepto: '',
        nombre: '',
        fecha: ''
    };

    get formTitle () {
        return this.editedIndexSale === -1 ? 'Crear venta' : 'Editar venta';
    }


    mounted () {
      console.log( this.palette );
      this.loadData();

        // this.list = this.salesList.map( (titulo) => ( {
        //     cod_titulo: titulo.cod_titulo,
        //     nombre_titulo: titulo.nombre_titulo,
        //     ...titulo
        // } ));
    }

    loadData () {
      this.loading = true;
        this.salesList = [{
            cod_venta: '1.581A',
            concepto: 'Tiquete de vuelo Clase Económica USD 300',
            nombre: 'Luis Rescala',
            fecha: '16 / 8 / 2021 Vía Paypal'
        }, {
            cod_venta: '1.581A',
            concepto: 'Tiquete de vuelo Clase Económica USD 300',
            nombre: 'Luis Rescala',
            fecha: '16 / 8 / 2021 Vía Paypal'
        }, {
            cod_venta: '1.581A',
            concepto: 'Tiquete de vuelo Clase Económica USD 300',
            nombre: 'Luis Rescala',
            fecha: '16 / 8 / 2021 Vía Paypal'
        }, {
            cod_venta: '1.581A',
            concepto: 'Tiquete de vuelo Clase Económica USD 300',
            nombre: 'Luis Rescala',
            fecha: '16 / 8 / 2021 Vía Paypal'
        },{
            cod_venta: '1.581A',
            concepto: 'Tiquete de vuelo Clase Económica USD 300',
            nombre: 'Luis Rescala',
            fecha: '16 / 8 / 2021 Vía Paypal'
        }, {
            cod_venta: '1.581A',
            concepto: 'Tiquete de vuelo Clase Económica USD 300',
            nombre: 'Luis Rescala',
            fecha: '16 / 8 / 2021 Vía Paypal'
        }];
    }


    initialize () {
        console.log( 'borrar');
    }

    createSale () {
        this.showCreateSale = !this.showCreateSale;
    }

    close () {
      this.showCreateSale = false;
    }

    createNewSale ( dataSale: any ) {
        console.log( dataSale);
    }

    viewSale ( sale: any ) {
        this.sale = sale;
        this.showViewSale = !this.showViewSale;
    }

    closeViewSale () {
        this.showViewSale = false;
    }
}
</script>

<style lang="scss" scoped>
.container-index {
    display: flex;
    flex-flow: column;
    max-width: 1366px;
    margin-left: 180px;
    width: 1366px;
    padding: 10px 20px;
    padding-left: 150px;
    justify-content: center;
}
.v-text-field::v-deep {
    .v-input__control {
        .v-input__slot{
            display: flex;
            border: 2px solid $iconColor !important;
            color: $iconColor !important;
        }
    }
}

.loader-sales {
    display: flex;
    text-align: center;
    justify-content: center;
}

.icon-search {
    cursor: pointer;
    color: $iconColor !important;
}


.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: start !important;

    .label-text {
        display: flex;
        width: 60% !important;
        text-align: -moz-left;
        text-align:  -webkit-left;
    }
    .search {
        border-radius: 30px;
        color: $iconColor !important;
    }
}

.content {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-top: 50px;

  .title-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
  }
}

.icon-crud {
    color: $secondary !important;
    font-size: 1.5rem !important;
    &:hover {
        color: #70F7E7 !important;
    }
}
// .v-data-table {
//     border-radius: 20px;
//     border: solid 2px $iconColor;
// }

// .v-data-table > .v-data-table__wrapper > table > .v-data-table-header::v-deep {
//     display: flex !important;
//     background: red !important;
//     tr {
//         background: red !important;
//     }
// }
</style>
