@import 'variables';
// @import 'palette';

html, body {
    font-family: Roboto;
}
.v-dialog{
  display: flex;
  border: 1px solid $primary !important;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8) !important;
  border-radius: 20px !important;
}
.v-custom-input.v-input > .v-input__control > .v-input__slot {
  border-radius: 6px !important;
  padding: 18px 12px 4px 12px;
  margin: 2px;
}
.v-custom-input.v-input.vm-chat-msg__input-input > .v-input__control > .v-input__slot {
  border-radius: 6px !important;
  padding: 0 0 0 0;
  margin: 2px;
}
.v-custom-input.v-input.vm-chat-msg__input-input {
  padding: 0 0 0 0;
  margin: 0;
}
.v-custom-input.v-text-field > .v-input__control > .v-input__slot:before,
.v-custom-input.v-text-field > .v-input__control > .v-input__slot:after,
.v-custom-input.v-textarea > .v-input__control > .v-input__slot:before,
.v-custom-input.v-textarea > .v-input__control > .v-input__slot:after {
  display: none !important;
  width: 0;
}
.v-custom-input.v-text-field > .v-input__control > .v-text-field__details,
.v-custom-input.v-textarea > .v-input__control > .v-text-field__details{
  display: none;
}

.v-custom-input.v-text-field.error--text > .v-input__control > .v-input__slot{
  border: 2px solid crimson !important;
  background-color: $primary;
}
.v-text-field__details {
  display: none;
}

.v-text-field--outlined {
  border-radius: 6px;
}

.loader-container {
    display: flex;
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    width: $pageMaxWidth;
    background-color: rgba(255, 255, 255, 0.87);
    align-items: center;
    justify-content: center;
    text-align: center;

    @include mobile {
        width: auto;
    }

    @include tablet {
        width: auto;
    }
}
// .v-data-table-header {
//   border-radius: 20px !important;
//   tr {
//     background-color: yellow;
//     border-radius: 20px !important;
//   }
// }
.v-data-table > .v-data-table__wrapper > table > .v-data-table-header{
    background-color: $secondary;
    tr {
        th {
          padding: 25px;
          span {
              text-align: center;
              color: #fff !important;
          }
        }
    }
}

// .v-data-table__wrapper{
//     overflow-y: scroll!important;
// }

.v-application--is-ltr .v-data-table  {
    border-radius: 15px !important;
}

.v-application--is-ltr .v-data-table > .v-data-table__wrapper {
    border-radius: 15px !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead  {

    border-bottom-left-radius: 15px !important;
    //border-bottom-right-radius: 15px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    padding: 20px !important;
    border-bottom: 1px solid $primary !important;
}

.v-application {
  font-family: 'Roboto', sans-serif;
}

/* SweetAlert2 Custom styles */
.sovtur-popup{
  display: flex !important;
  flex-direction: row-reverse !important;
  border-radius: 15px;
  align-items: center !important;
  border-left: solid !important;
  border-left-width: 10px !important;
  font-family: 'Material Design Icons' !important;
  &-success {
      border-color: $toastSuccess !important;
  }
  &-success::after {
      content: '\F05E0' !important;
      color: $toastSuccess !important;
      font-size: 32px !important;
      margin: 0 5px 0 0 !important;;
  }
  &-info {
      border-color: $toastInfo !important;
  }
  &-info::after {
      content: '\F02FC' !important;
      color: $toastInfo !important;
      font-size: 32px !important;
      margin: 0 5px 0 0 !important;;

  }
  &-error {
      border-color: $toastError !important;

  }
  &-error::after {
      content: '\F0026' !important;
      color: $toastError !important;
      font-size: 32px !important;
      margin: 0 5px 0 0 !important;;

  }
  &-warning {
      border-color: $toastWarning !important;
  }
  &-warning::after {
      content: '\F0028' !important;
      color: $toastWarning !important;
      transform: rotate( 180deg ) !important;
      font-size: 32px !important;
      margin: 0 5px 0 0 !important;;
  }
}

.sovtur-displayPopup {
    border-radius: 15px;
}

.sovtur-cancelButton {
    border-radius: 20px !important;
}


/* swal config */
.swal2-content {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 0 1.6em;
  color: $textColor;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}
.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: $primary;
  color: #fff;
  font-size: 1.0625em;
  font-family: 'Open Sans', sans-serif;
}
