$primary: #073A62;
$secondary: #3498DB;
$textColor: #0B3557;
$iconColor: #009DE5;
$buttonTextPrimary: #FFFFFF;
$toastSuccess: #58B85C;
$toastWarning: #FFA432;
$toastInfo: #007BD8;
$toastError: #DF7B73;

/* OPACITY */
$op100: FF;
$op95: F2;
$op90: E6;
$op85: D9;
$op80: CC;
$op75: BF;
$op70: B3;
$op65: A6;
$op60: 99;
$op55: 8C;
$op50: 80;
$op45: 73;
$op40: 66;
$op35: 59;
$op30: 4D;
$op25: 40;
$op20: 33;
$op15: 26;
$op10: 1A;
$op5: 0D;
$op0: 00;


:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --text: #{$textColor};
    --icon: #{$iconColor};
}

:export {
    primary: $primary;
    secondary: $secondary;
    text: $textColor;
    icon: $iconColor;
    op100: $op100;
    op95: $op95;
    op90: $op90;
    op85: $op85;
    op80: $op80;
    op75: $op75;
    op70: $op70;
    op65: $op65;
    op60: $op60;
    op55: $op55;
    op50: $op50;
    op45: $op45;
    op40: $op40;
    op35: $op35;
    op30: $op30;
    op25: $op25;
    op20: $op20;
    op15: $op15;
    op10: $op10;
    op5: $op5;
    op0: $op0;
    buttonTextPrimary: $buttonTextPrimary;
     /* Toast color */
     toastSuccess: $toastSuccess;
     toastWarning: $toastWarning;
     toastInfo: $toastInfo;
     toastError: $toastError;
}
