$breakpoint-mobile: 599.98px; //xs
$breakpoint-tablet-start: 600px; //sm
$breakpoint-tablet-end: 959.98px; //sm
$breakpoint-desktop: 960px; //md lg xl
$pageMaxWidth: 1800px;

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

$footerHeight: 80px;
$fontStyle: 'Open Sans';
$headerHeight: 56px;
$avatarDesktopSize: 400px;
$avatarMobileSize: 140px;

:export {
  /* font style */
    fontStyle: $fontStyle;
    headerHeight: $headerHeight;
    footerHeight: $footerHeight;
    avatarDesktopSize: $avatarDesktopSize;
    avatarMobileSize: $avatarMobileSize;
    pageMaxWidth: $pageMaxWidth;
}
