<template>
    <general-modal
        :show="showModal"
        max-width="587"
        padding="30px"
        :close-icon="true"
        @close="$emit( 'close' )"
    >
        <div slot="header" class="header">
            <title-main label="Crear venta" />
        </div>
        <v-form
            class="container-sale-modal"
            ref="form"
            lazy-validation
        >
            <v-text-field
                v-model="formData.numero_venta"
                outlined
                dense
                label="No. de Venta"
            />
            <general-select
                v-model="formData.tipo_venta"
                :return-object="false"
                :multiple="false"
                label="Tipo de venta"
            />
            <v-text-field
                v-model="formData.nombre"
                outlined
                dense
                label="Nombre"
            />
            <v-text-field
                v-model="formData.fecha"
                outlined
                dense
                label="Fecha de venta"
            />
            <div class="container-button">
                <general-button
                    label="Guardar"
                    :color="palette.primary"
                    @click="createSale"
                />
            </div>
        </v-form>
    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'nuxt-property-decorator';
import CssExports from '@/assets/css/palette.scss';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import GeneralSelect from '@/components/commons/GeneralSelect.vue';
import GeneralButton from '@/components/commons/GeneralButton.vue';
import TitleMain from '@/components/commons/TitleMain.vue';

@Component( {
    components: { GeneralModal, TitleMain, GeneralSelect, GeneralButton }
} )
class CreateSaleModal extends Vue {
    @Prop( { default: false } ) showModal: boolean;
    palette = CssExports;
    formData: any = {
        numero_venta: null,
        tipo_venta: null,
        fecha: null,
        nombre: null
    };

    createSale () {
      this.$emit( 'createSale', this.formData );
        // this.$Swal( 'error', 'Nuevo codigo enviado', 5000 );
        //this.$SwalPopUp( 'error', '¡ No estas autorizado para acceder a este chat !', 'Cancelar' );
    }

}

export default CreateSaleModal;
</script>

<style lang="scss" scoped>
.header {
  display: flex;
}
.container-sale-modal {
    display: flex;
    flex-flow: column;
    padding: 5px;
}

.container-button {
    display: flex;
    justify-content: center;
}
</style>
