<template>
    <general-modal
        :show="showModal"
        max-width="587"
        padding="15px"
        :close-icon="true"
        @close="$emit( 'close' )"
    >
        <div slot="header" class="header">
        </div>
        <div class="content">
            <title-main :label="salesLabel" />
            <label class="code">N° {{  sale.cod_venta }}</label>
            <label class="concept">{{  sale.concepto }}</label>
            <label class="name">A nombre de: {{  sale.nombre }}</label>
            <label class="date">Fecha: {{  sale.fecha }}</label>
        </div>

    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'nuxt-property-decorator';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import TitleMain from '@/components/commons/TitleMain.vue';

@Component( {
    components: { GeneralModal, TitleMain }
} )
export default class ViewSaleModal extends Vue {
    @Prop( { default: false } ) showModal: boolean;
    @Prop( {} ) sale: any;
    salesLabel: string = 'Detalles de la venta';
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: $primary;
  .code {
      font-size: 0.9rem;
  }

  .concept {
      margin-top:20px;
      font-size: 1rem;
  }
  .name, .date{
      margin-top:10px;
      font-size: 1rem;
  }

  .date {
      margin-bottom: 20px;
  }
}
</style>
