<template>
    <v-dialog
        v-model="showModal"
        :max-width="maxWidth"
        :persistent="persistence"
        @click:outside="$emit( 'close' )"
        @close="$emit( 'close' )"
        @keydown.esc="$emit( 'close' )"
        class="modal"
    >
        <v-card>
            <div v-if="closeIcon" class="header-container" :style="{ padding: paddingTopHeader, paddingTop: '15px' }">
                <slot name="header"/>
                <v-card-text class="button">
                    <div class="close-button" :style="{ backgroundColor: colorButtonClose }" @click="$emit('close')">
                        <v-icon class="icon" :color="colorIcon">
                            mdi-close
                        </v-icon>
                    </div>
                </v-card-text>
            </div>
            <div :style="{ padding: padding }">
                <slot />
            </div>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'nuxt-property-decorator';

@Component( {} )
class GeneralModal extends Vue {
    @Prop( { default: false } ) show: boolean;
    @Prop( { default: '900px' } ) maxWidth: string;
    @Prop( { default: false } ) closeIcon: boolean;
    @Prop( { default: false } ) persistence: boolean;
    @Prop( { default: '0' } ) padding: string;
    @Prop( { default: '30px' } ) paddingTopHeader: string;
    @Prop( { default: '#fff' } ) colorIcon: string;
    @Prop( { default: '#073A62' } ) colorButtonClose: string;


    showModal: boolean = false;

    @Watch( 'show' )
    onShowChanged () {
        this.showModal = this.show;
    }

    mounted () {
        this.showModal = this.show;
    }
}

export default GeneralModal;
</script>

<style lang="scss" scoped>
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0 !important;
}
.button {
    width: auto;
}
.close-button {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
}
.icon {
    font-size: 1.3em !important;
    font-weight: bold;
    margin:0px !important;
}
</style>
