<template>
    <v-select
        v-model="selected"
        :value="selected"
        background-color="#fff"
        :color="palette.primary"
        :item-color="palette.primary"
        :items="items"
        :label="label"
        :placeholder="placeholder"
        :no-data-text="noData"
        :loading="loading"
        :item-text="itemText"
        :item-value="itemValue"
        :multiple="multiple"
        :rules="rules"
        persistent-hint
        dense
        outlined
        append-icon="mdi-unfold-more-horizontal"
        :return-object="returnObjet"
    >
        <template v-slot:prepend-item>
            <v-list-item
                disabled
                dense
            >
                {{ placeholder }}
            </v-list-item>
        </template>
        <template v-slot:append-item>
            <slot name="append-item" />
        </template>
    </v-select>
</template>

<script lang="ts">
import { Vue, Component, Prop, Model, Watch, Emit } from 'nuxt-property-decorator';
import CssExports from '@/assets/css/palette.scss';

@Component( {} )
export default class GeneralSelect extends Vue {
    @Model( 'updateValue', { required: true } ) model: any;
    @Prop( { } ) items: any;
    @Prop( { default: 'id' } ) itemValue: string;
    @Prop( { default: 'name' } ) itemText: string;
    @Prop( {} ) label: string;
    @Prop( { default: false } ) loading:boolean;
    @Prop( { default: false } ) multiple: boolean;
    @Prop( { default: 'No data Text...' } ) noData: string;
    @Prop( {} ) placeholder: string;
    @Prop( { default: false } ) returnObjet: boolean;
    @Prop( {} ) rules: any;
    selected: any = null;
    palette = CssExports;

    mounted () {
        this.selected = this.model;
    }

    @Watch( 'selected' )
    @Emit( 'updateValue' )
    updateValue () {
        return this.selected;
    }
}
</script>
