<template>
    <v-btn
        class="button-container"
        :color="backgroundColor"
        :style="{
            color: TextColor,
            heigth: height,
            disabled: disabled || loading
        }"
        @click.prevent="(!loading || !disabled) ? $emit('click' ) : null"
    >
        <div v-if="loading">
            <v-progress-circular
                :size="17"
                :width="1.5"
                color="white"
                indeterminate
            />
            {{ loadingLabel }}
        </div>
        <slot v-else>
            <div>
                {{ label }}
            </div>
        </slot>
    </v-btn>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'nuxt-property-decorator';
import CssExports from '~/assets/css/palette.scss';

@Component( {
    components: {
    }
} )
export default class GeneralButton extends Vue {
    @Prop( { default: '#3498DB'}) backgroundColor: string;
    @Prop( ) backgroundColorHover: string;
    @Prop( ) borderColor: string;
    @Prop( ) color: string;
    @Prop( { default: false } ) disabled: boolean;
    @Prop( ) height: string;
    @Prop( { } ) label: string;
    @Prop( { default: false } ) loading: boolean;
    @Prop( { default: 'Cargando...' } ) loadingLabel: string;
    @Prop( ) minWidth: string;
    palette = CssExports;

    // get buttonColor () {
    //     if ( this.backgroundColor ) {
    //         return this.loading ? `${this.backgroundColor}${this.palette.op70}` : this.backgroundColor;
    //     }
    //     return this.loading ? `${this.palette.primary}${this.palette.op70}` : this.palette.primary;
    // }

    get TextColor () {
        if ( this.color ) {
            return this.loading ? `${this.color}${this.palette.op70}` : this.color;
        }
        return this.loading ? `${this.palette.buttonTextPrimary}${this.palette.op70}` : this.palette.buttonTextPrimary;
    }
}
</script>

<style lang="scss" scoped>
.button-container {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: $buttonTextPrimary !important;
    text-transform: capitalize;
    min-width: 140px !important;
}
</style>
