<template>
    <div class="item-menu">
        <label>
          {{ label }}
          <v-icon class="icon">mdi-dots-vertical</v-icon>
        </label>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( {
    components: {
    }
} )
export default class ItemMenu extends Vue {
    @Prop( {} ) label: string;
}

</script>

<style lang="scss" scoped>
.item-menu {
  display: flex;
  justify-content: center;
  background: $primary;
  color: #FFF;
  font-size: 1.2em;
  padding: 5px;
  margin: 10px 10px 0px 10px;
}
.icon {
    color: #fff !important;
}
</style>
