<template>
    <div class="loader-container">
        <v-progress-circular
            class="default-loader-container"
            :size="140"
            :width="7"
            indeterminate
        >
            {{ loadingLabel }}
        </v-progress-circular>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component( {} )
export default class Loader extends Vue {
    @Prop( { default: 'Cargando...' } )loadingLabel:string
}
</script>

<style lang="scss" scoped >
.default-loader-container {
    color: $primary;
}

</style>
