<template>
    <div class="card-container">
        <v-avatar
            class="avatar"
            :size="$vuetify.breakpoint.smAndDown ? avatarMobileSize : avatarDesktopSize"
            @click="$emit('click')"
        ></v-avatar>
        <label>{{ labelName }}</label>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( {
    components: {
    }
} )
export default class ThumbnailCard extends Vue {
    @Prop( {} ) data: any;
    @Prop( { default: '50px' } ) avatarMobileSize: string;
    @Prop( { default: '110' } ) avatarDesktopSize: string;
    @Prop( {} ) picture: any;
    labelName: string = 'Estefany Yurani';
}

</script>

<style lang="scss" scoped>
.card-container{
    overflow: hidden;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.avatar {
    background-image: url('~assets/img/defaultProfile.jpg');
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

label {
  color: $textColor;
}
</style>
