<template>
    <label class="title-main">
        {{ label }}
    </label>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( {
    components: {
    }
} )
export default class TitleMain extends Vue {
    @Prop( {} ) label: string;
}

</script>

<style lang="scss" scoped>
.title-main {
  display: flex;
  font-family: Roboto;
  color: $primary;
  font-weight: 600 !important;
  font-size: 1.3rem;
  width: 250px;
}
</style>
